* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background-image: url("../img/background.jpg");
    position: relative;
    background-size: 200vh;
    background-repeat: no-repeat;
}

body > #home > .w3-container {
    margin-top: 10px;
    width: 51.4vw;
    margin-left: 9.7vw;
    height: 97vh;
    background-color: #ffffff;
    position: absolute;
    display: block;
    top: 0.5vh;
    bottom: 0;
    left: 4vw;
    right: 0;
}

body > #home > .w3-container > .container-inside {
    padding: 5.8vh 2vw;
}

#startButton {
    background-color: #233fff !important;
    border-radius: 16px;
    width: 8vw !important;
    outline: none;
}

#startButton:hover {
    background-color: #1834f1 !important;
    color: white !important;
}

.logo_img {
    width: 19.5vw;
}

body > #home > .partiesContainer {
    background-color: #01b4dc;
    width: 69.5vw;
    height: 98vh;
    float: right;
    margin-right: 15vw;
    margin-top: 25px;
}

.eenVandaag {
    position: relative;
    bottom: 5vh;
    margin-left: 8vw;
    height: 3vh;
}

.parties {
    position: relative;
    width: 20vw;
    float: right;
    margin-left: 16vw !important;
    top: 12vh;
}

.party__logo {
    position: relative;
    display: block;
    float: left;
    width: 3vw;
    border-radius: 50%;
    background-color: white;
    margin-left: 1.4vw;
    margin-top: 2vh;
    transition: 0.2s;
}

.party__logo:hover {
    transform: scale(2);
}

.no-parties {
    position: relative;
    width: 20vw;
    top: 67vh;
    left: 50vw;
}

.text {
    margin-left: 1vw;
    color: #ffffff;
    font-weight: 600;
}

body > #home > .partiesContainer > img {
    padding: 5vh;
    width: 15.5vw;
    float: right;
}

body > #home > .w3-container > .container-inside > .homeContext {
    position: relative;
    font-size: 21px;
    bottom: 1vh;
    line-height: 3vh;
}

body > #home > .w3-container > .container-inside > .homeContext > p {
    font-weight: 550;
}

body > #home > .w3-container > .container-inside > .homeContext > .description > .title {
    color: #01b4dc;
    font-weight: 600;
    font-size: 33px;
}

body > #home > .w3-container > .container-inside > .homeContext > .description > button {
    margin-top: 6vh;
    width: 14vw;
    height: 7.5vh;
    margin-right: 4.5vw;
    font-size: 25px;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background-color: #01b4dc;
}

body > #home > .w3-container > .container-inside > div > a {
    text-decoration: none;
    margin-left: 0.5vw;
}

body > #home > .w3-container > .container-inside > .visualIconDiv {
    width: 17vw;
    margin-top: 5vh;
}

body > #home > .w3-container > .container-inside > .visualIconDiv > .icon-visual {
    height: 5vh;
}

body > #home > .w3-container > .container-inside > .visualDescription {
    position: relative;
    bottom: 6.5vh;
    width: 15vw;
    left: 5vw;
    font-size: 16px;
}

body > #home > .w3-container > .container-inside > .cookiesDescription {
    position: relative;
    bottom: 7vh;
    width: 15vw;
    left: 5vw;
    font-size: 16px;
}

body > #home > .w3-container > .container-inside > .privacyIcon > img {
    height: 5vh;
}

#stemwijzerLogo {
    position: relative;
    top: 22vh !important;
    padding-bottom: 35px;
    width: 8vw;
}


#prodemosLogo {
    position: relative;
    top: 16vh !important;
    margin-left: 60vw;
    padding-bottom: 35px;
    width: 6vw;
}

#logo-1v {
    position: relative;
    top: 9.8vh;
    left: 67vw;
    height: 3vh;
}

.intro-4 {
    border-top: 2px dotted #979797;
    background: #f9f9f9;
    padding-top: 5vh;
}


/* Style for the questions */

.back-button {
    margin-top: 15px;
    cursor: pointer;
}

.application_progress {
    position: absolute;
    display: flex;
    width: 100%;
    background-color: #01b4dc;
}

.btn_back {
    background-position: 50%;
    background-color: #e7eaeb;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    outline: none;
    margin-left: 1vw;
    margin-top: 2vh;
    border: none;
}

.stellingSection {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 20px;
}

.statements {
    border-radius: 10px;
    background-color: white;
    display: none;
    height: 80vh;
    width: 60%;
    margin: 10vh auto;
}

.footer__navigation {
    color: black;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

#btn_skip {
    display: flex;
    align-items: center;
    border: 1px solid #e7eaeb;
    border-radius: 64px;
    padding: 8px 12px;
    background: #fff;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    outline: none;
    margin-top: 3vh;
    margin-left: 25vw;
}

#btn_skip:hover {
    background-color: #01b4dc;
    color: white;
}

#skip {
    margin-left: 0.5vw;
}

#pro {
    background-color: #20a84b;
    color: white;
    border-radius: 10px;
    outline: none;
}

#none {
    background-color: grey;
    color: white;
    border-radius: 10px;
    outline: none;
}

#contra {
    background-color: red;
    color: white;
    border-radius: 10px;
    outline: none;
}

#pro:hover {
    background-color: #1b913d;
!important;
}

#none:hover {
    background-color: #01b4dc !important;
}

#contra:hover {
    background-color: #01b4dc !important;
}

.selectedButton {
    border: solid black !important;
}

#partyPage {
    display: none;
    border-radius: 10px;
    width: 60%;
    background-color: white;
    height: 80vh;
    margin: 5vw auto auto;
    text-align: center;
}

#resultSection {
    display: none;
    border-radius: 10px;
    background-color: white;
    height: 80vh;
    width: 60%;
    margin: 5vh auto;
    text-align: center;
}

.tekst {
    display: block;
    width: 40vw;
    margin: 0 auto;
}

#answer-buttons {
    margin-left: 6vw;
    margin-top: 10px;
}

#seated:hover {
    background-color: #01b4dc !important;
}

#all:hover {
    background-color: #01b4dc !important;
}

#bigger:hover {
    background-color: #01b4dc !important;
}

#statementDescription {
    width: 30vw;
    margin-left: 6vw;
}

#opinionsTitle {
    margin-left: 6vw;
}

.resultButton {
    width: 20vw;
    margin: 0 auto;
    font-size: 17px;
    background-color: #4caf50 !important;
}

.resultButton:hover {
    background-color: #3fac42 !important;
}

.partyCheckbox {
    vertical-align: middle;
}

.checkboxContainer {
    margin: 2vh 6vw;
    font-size: 17px;
}

.checkboxInput {
    margin: 0.5vw;
    vertical-align: middle;
}

.partyContext {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firstPlace {
    font-size: 22px !important;
}

.secondPlace {
    font-size: 17px !important;
}

.thirdPlace {
    font-size: 15px !important;
}
